{% include "header_admin1.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
   
</head>

<body>
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                            
                            <li class="breadcrumb-item active">.</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Display Metta</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            

                            <div class="col-sm-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Flim Name</th>
                                            <th>Actor Name</th>
                                            <th>Actress Name</th>
                                            <th>Collection Amount</th>
                                        </tr>
                                    </thead>
                            <tbody>
                                {% for ob in form%}
                                <tr>
                                    <td>{{ob.id}}</td>
                                    <td>{{ob.fname}}</td>
                                    
                                    <td>{{ob.aname}}</td>
                                    <td>{{ob.aaname}}</td>
                                    <td>{{ob.camt}}</td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end col -->
                        
                        </div> <!-- end row -->
                    </div> <!-- end card body-->
                </div> <!-- end card -->

                <!-- Add New Event MODAL -->
                
                <!-- end modal-->
            </div>
            <!-- end col-12 -->
        </div> <!-- end row -->

    </div> <!-- container -->  
                
{% include "footer1.html" %} 