
</div>
</div>
</div>
</div>
<!--**********************************
Content body end
***********************************-->

<!--**********************************
Footer start
***********************************-->
<div class="footer">
<div class="text-center">
    <p class="text-center">
Copyright © {% now "Y" %}</p>
</div>
</div>
<!--**********************************
Footer end
***********************************-->


</div>

<!-- Required vendors -->


</body>
</html>