<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'home/css/bootstrap.min.css' %}" rel="stylesheet">
	
</head>
<style>
   
</style>
<body>
    {% include "header.html" %}
      <div class="container-fluid">
          <img src="static/images/1.png" class="img img-fluid" alt="">
          
        </div>
</body>
</html>